<html>
<head>
</head>
<body>
<h1>La Lista de la compra</h1>
<ul>
{{#lista}}
<li>{{nombre}} ({{cantidad}}) <a href="borrarItem?id={{id}}">Borrar</a></li>
{{/lista}}
</ul>
<h2>Insertar nuevo item</h2>
<form action="nuevoItem" method="post">
  Nombre: <input type="text" name="nombre"> <br>
  Cantidad: <input type="number" name="cantidad"> <br>
  <input type="submit" value="Insertar">
</form>    
</body>
</html>